DefaultContentLanguage = "en"
author = "bach"
#baseURL = "https://csapp.fun/"
copyright = "Copyright © 2021-2026"

# disqusShortname = "BachWV"
enableInlineShortcodes = true
footnoteReturnLinkContents = "^"
# googleAnalytics = "UA-FAKE"
hasCJKLanguage = true
languageCode = "en"
theme = "hugo-theme-tokiwa"
#paginate might no use

title = "8086"
publishDir = "docs"
disableKinds = ['sitemap']

[markup]
[markup.highlight]
style = "monokailight"
guessSyntax = true
hl_Lines = ""
lineNoStart = 1
lineNos = true
lineNumbersInTable = true
noClasses = true
tabWidth = 4

[markup.goldmark.renderer]
unsafe = true

[params]
bannerFont = "fonts/exampleFont" 
description = """
Men always remember love because of romance only.
""" 
# env = "production" for Google Analytics and DISQUS.
favicon = "img/favicon-32x32.png" 
fuse = true # for searchbox. "JSON" must added to output contents. See [outputs].
math = true # for introducing $KaTEX$
useChineseFonts = true 
postDateFormat = "2006-1-2"
paginate = 50

[menu]
# Shown in the side menu.
[[menu.main]]
identifier = "post"
name = "Posts"
url = "/posts/"
weight = 1
[[menu.main]]
name = "Tags"
url = "/tags/"
weight = 2

[[menu.main]]
name = "Categories"
url = "/categories/"
weight = 2

[[menu.main]]
identifier = "movie"
name = "电影"
url = "/movies/"
weight = 3

[[menu.main]]
identifier = "about"
name = "About"
url = "/about/"
weight = 3

[[menu.main]]
identifier = "links"
name = "友链"
url = "/links/"
weight = 4

[[menu.main]]
identifier = "Memos"
name = "随便BB"
url = "/essay/"
weight = 4

[taxonomies]
category = "categories"
leetcode = "leetcodes"
series = "series"
tag = "tags"
[[params.social]]
name = "github"
url = "https://github.com/bachwv"


[[params.social]]
name = "mail"
url = "mailto:lijunling2077@gmail.com"

#[social]
#_merge = "none"
# bilibili = "https://space.bilibili.com/36175480"
# github = "http://github.com/bachwv"
# gitlab = "http://gitlab.com/"
# mail = "mailto:lijunling2077@gmail.com"
# twitter = "http://twitter.com/"
# zhihu = "http://example.com/"
# any icon in layouts/partials/svg can be used by the name without the "-line.svg"

[outputs]
home = ["HTML", "RSS", "JSON"]


[frontmatter]
  lastmod = [':git', 'lastmod', ':fileModTime', ':default']
