{{ define "header" }}
{{ partial "page-header.html" . }}

{{ end }}


{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}

<div id="bber"></div>

      <script type="module" src="https://immmmm.com/emaction.js?v=230811"></script>
      <script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>
      <script src="https://fastly.jsdelivr.net/gh/Tokinx/ViewImage/view-image.min.js"></script>
      <script src="https://fastly.jsdelivr.net/gh/Tokinx/Lately/lately.min.js"></script>
      <script src="https://cdn.staticfile.org/twikoo/1.6.16/twikoo.all.min.js"></script>
      <script type="text/javascript">
        var bbMemos = {
          memos : 'https://memos.csapp.fun/',//修改为自己部署 Memos 的网址，末尾有 / 斜杠
          limit : '10',//默认每次显示 10 条
          creatorId:'1' ,//早期默认为 101 用户，新安装是 1； https://demo.usememos.com/u/101
          domId: '',//默认为 bber
        }
      </script>
      <script src="https://immmmm.com/bb-lmm-mk.js?v=230811"></script>

{{end}}



{{ define "aside" }}
	{{ partial "page-aside.html" . }}
{{ end }}